# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=state_archive_mock

# Seed Data Configuration
SEED_USER1_EMAIL=
SEED_USER2_EMAIL=
SEED_USER3_EMAIL=
SEED_USER4_EMAIL=
SEED_USER1_PHONE=
SEED_USER2_PHONE=
SEED_USER3_PHONE=
SEED_USER4_PHONE=

# Application Configuration
NODE_ENV=development
BASE_URL=http://localhost:3000
PORT=3000

